<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12 element-center">
        <h2><b>Región I</b> | 2015 </h2>
    </div>
</div>
<div class="row" ng-controller="detailController">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="m-b-md">
                                <h2>Detalles de la Región I</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <dl class="dl-horizontal">
                                <dt><i class="fa fa-users"></i>&nbsp;Coordinadores:</dt>
                                <dd>(RG) Octavio Vite Arontes | 55 5454-5656</dd>
                                <dd>(RG) Augusto Vite Arontes | 55 5454-5656</dd>
                                <br />
                                <dt><i class="fa fa-qrcode"></i>&nbsp;Monitoreo:</dt>
                                <dd>
                                    <select class="form-control m-b" ng-options="item as item.value for item in lstMonitoring" ng-model="monitor"></select>
                                </dd>
                                <br />
                                <dt><i class="fa fa-tags"></i>&nbsp;Estatus:</dt>
                                <dd>
                                    <select class="form-control m-b" ng-options="item as item.value for item in lstStatus" ng-model="status"></select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-xs-6">
                            <dl class="dl-horizontal">
                                <dt><i class="fa fa-map-marker"></i>&nbsp;Zonas / Colonias:</dt>
                                <dd>Zona Oriente</dd>
                                <dd>Col. Industrial</dd>
                                <dd>Col. San Miguel</dd>
                                <dd>Col. La Loma</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="element-center col-xs-1"><i class="fa fa-tags"></i>&nbsp;Estatus</th>
                                        <th class="element-center col-xs-1"><i class="fa fa-chevron-right"></i>&nbsp;Sección</th>
                                        <th class="element-center col-xs-1"><i class="fa fa-inbox"></i>&nbsp;Tipo de casilla</th>
                                        <th class="element-center col-xs-1"><i class="fa fa-map-marker"></i>&nbsp;Colonia</th>
                                        <th class="element-center col-xs-2"><i class="fa fa-user"></i>&nbsp;RG <br/> <i class="fa fa-phone"></i>&nbsp;Teléfono</th>
                                        <th class="element-center col-xs-3"><i class="fa fa-comments"></i>&nbsp;Comentarios</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="element-center">
                                            <span class="label label-primary"><i class="fa fa-check-circle"></i> Con asistencia</span>
                                        </td>
                                        <td class="element-center">
                                            5029
                                        </td>
                                        <td class="element-center">
                                            Básica
                                        </td>
                                        <td class="element-center">
                                            Col. Conocida
                                        </td>
                                        <td class="element-center">
                                            Juan Pérez &nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i> 8080-1910
                                        </td>
                                        <td class="element-center">
                                            <small>
                                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                            </small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="element-center">
                                            <span class="label label-danger"><i class="fa fa-times-circle"></i> Sin asistencia</span>
                                        </td>
                                        <td class="element-center">
                                            5028
                                        </td>
                                        <td class="element-center">
                                            Contigua 1
                                        </td>
                                        <td class="element-center">
                                            Col. Conocida
                                        </td>
                                        <td class="element-center">
                                            Juan Pérez &nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i> 8080-1910
                                        </td>
                                        <td class="element-center">
                                            <small>
                                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                            </small>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/ctrl/detailCtrl.js"></script>
}