<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12 element-center">
        <h2><b>Elecciones para presidente municipal</b> | 2015 </h2>
    </div>
</div>

<div class="ibox" ng-controller="electionRegionCtrl">
    <div class="ibox-title">
        <h5>
            PREP elecciones para presidente municipal - Región I
            <br />
            <br />
            <select class="form-control" ng-options="item as item.value for item in lstTypes" ng-model="type"></select>
        </h5>
        <div class="ibox-tools">
            <span class="label label-success"><h4>Casillas</h4></span>
        </div>
    </div>
    <div class="ibox-content">
        <div class="col-xs-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="element-center col-xs-1"><i class="fa fa-tags"></i>&nbsp;Estatus</th>
                                            <th class="element-center col-xs-1"><i class="fa fa-chevron-right"></i>&nbsp;Sección</th>
                                            <th class="element-center col-xs-1"><i class="fa fa-inbox"></i>&nbsp;Tipo de casilla</th>
                                            <th class="element-center col-xs-1"><i class="fa fa-map-marker"></i>&nbsp;Colonia</th>
                                            <th class="element-center col-xs-1"><img src="~/Content/images/parties/pan-t.png" width="25" />&nbsp;PAN/PT</th>
                                            <th class="element-center col-xs-1"><img src="~/Content/images/parties/pri-t.png" width="25" /></i>&nbsp;PRI/PVEM/PNA</th>
                                            <th class="element-center col-xs-1"><img src="~/Content/images/parties/prd-t.png" width="25" />&nbsp;PRD</th>
                                            <th class="element-center col-xs-1"><img src="~/Content/images/parties/mc-t.png" width="25" />&nbsp;Morena</th>
                                            <th class="element-center col-xs-1"><img src="~/Content/images/parties/lnII.png" width="25" />&nbsp;Otros</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="element-center">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <span class="label label-success">
                                                            <i class="fa fa-check-circle"></i>
                                                            Capturadas
                                                        </span> &nbsp; &nbsp;
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <img src="~/Content/images/parties/pan-t.png" width="25" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="element-center">
                                                5029
                                            </td>
                                            <td class="element-center">
                                                Básica
                                            </td>
                                            <td class="element-center">
                                                Col. Conocida
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-success font-sz-m">600</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">200</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">100</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">150</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">20</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="element-center">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <span class="label label-success">
                                                            <i class="fa fa-check-circle"></i>
                                                            Capturadas
                                                        </span> &nbsp; &nbsp;
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <img src="~/Content/images/parties/pan-t.png" width="25" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="element-center">
                                                5030
                                            </td>
                                            <td class="element-center">
                                                Básica
                                            </td>
                                            <td class="element-center">
                                                Col. Conocida
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-success font-sz-m">500</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">300</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">200</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">170</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">80</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="element-center">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <span class="label label-success">
                                                            <i class="fa fa-check-circle"></i>
                                                            Capturadas
                                                        </span> &nbsp; &nbsp;
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <img src="~/Content/images/parties/lnII.png" width="25" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="element-center">
                                                5031
                                            </td>
                                            <td class="element-center">
                                                Básica
                                            </td>
                                            <td class="element-center">
                                                Col. Conocida
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">300</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">200</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">200</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-black font-sz-m">170</span>
                                            </td>
                                            <td class="element-center">
                                                <span class="label label-success font-sz-m">380</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section scripts
{
    <script src="~/Scripts/app/ctrl/electionRegionCtrl.js"></script>
}
