<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12 element-center">
        <h2><b>Apertura de casillas</b> | 2015 </h2>
    </div>
</div>

<div class="ibox" ng-controller="regionController">
    <div class="ibox-title">
        <h5>
            Reporte inicial para la apertura de casillas
        </h5>
        <div class="ibox-tools">
            <span class="label label-success"><h4>Casillas</h4></span>
        </div>
    </div>
    <div class="ibox-content">
        <div class="project-list">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            <a class="label label-warning font-sz-m" href="@Url.Action("Detail", "Region")">Region I</a>
                            <div class="space-10"></div>
                            <span class="btn btn-social btn-circle btn-xs" type="button">
                                <i class="fa fa-user"></i>
                            </span>&nbsp;&nbsp;<small>Octavio Vite Arontes</small><br />
                            <span class="btn btn-social btn-circle btn-xs" type="button">
                                <i class="fa fa-user"></i>
                            </span>&nbsp;&nbsp;<small>César Vite Arontes</small><br />
                            <span class="btn btn-social btn-circle btn-xs" type="button">
                                <i class="fa fa-map-marker"></i>
                            </span>&nbsp;&nbsp;<small>Col. Industrial</small><br />
                            <span class="btn btn-social btn-circle btn-xs" type="button">
                                <i class="fa fa-map-marker"></i>
                            </span>&nbsp;&nbsp;<small>Zona Oriente</small>
                        </td>
                        <td class="project-title">
                            <button class="btn btn-info btn-circle btn-xs" type="button">
                                <i class="fa fa-users"></i>
                            </button>&nbsp;&nbsp;
                            <a href="">Asistencia</a>
                            <div class="space-10"></div>
                            <button class="btn btn-success btn-s-xs" type="button">420 &nbsp;<i class="fa fa-thumbs-up"></i>&nbsp;</button><small>&nbsp;&nbsp;Con asistencia</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-s-xs" type="button">190 &nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;</button><small>&nbsp;&nbsp;Sin asistencia</small>
                            <br />
                            <div class="progress progress-mini">
                                <div style="width: 70%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small class="element-center">Casillas completadas: 70%</small>
                        </td>
                        <td class="project-title">
                            <button class="btn btn-success btn-circle btn-xs" type="button">
                                <i class="fa fa-power-off"></i>
                            </button>&nbsp;&nbsp;
                            <a href="">Instalación</a>
                            <div class="space-10"></div>
                            <button class="btn btn-success btn-s-xs" type="button">320 &nbsp;<i class="fa fa-thumbs-up"></i>&nbsp;</button><small>&nbsp;&nbsp;Instaladas</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-s-xs" type="button">120 &nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;</button><small>&nbsp;&nbsp;No instaladas</small>
                            <br />
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small class="element-center">Casillas completadas: 48%</small>
                        </td>
                        <td class="project-title">
                            <button class="btn btn-danger btn-circle btn-xs" type="button">
                                <i class="fa fa-bolt"></i>
                            </button>&nbsp;&nbsp;<a href="">Incidentes</a>
                            <div class="space-10"></div>
                            <button class="btn btn-success btn-s-xs" type="button">600 &nbsp;<i class="fa fa-thumbs-up"></i>&nbsp;</button><small>&nbsp;&nbsp;Con incidentes</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-s-xs" type="button">120 &nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;</button><small>&nbsp;&nbsp;Sin incidentes</small>
                            <br />
                            <div class="progress progress-mini">
                                <div style="width: 80%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small class="element-center">Casillas completadas: 80%</small>
                        </td>
                        <td class="project-title">
                            <button class="btn btn-warning btn-circle btn-xs" type="button">
                                <i class="fa fa-paw"></i>
                            </button>&nbsp;&nbsp;<a href="">Desayunos/Comidas</a>
                            <div class="space-10"></div>
                            <button class="btn btn-success btn-s-xs" type="button">200 &nbsp;<i class="fa fa-thumbs-up"></i>&nbsp;</button><small>&nbsp;&nbsp;Con desayuno</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-s-xs" type="button">120 &nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;</button><small>&nbsp;&nbsp;Sin desayuno</small>
                            <br />
                            <div class="progress progress-mini">
                                <div style="width: 40%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small class="element-center">Casillas completadas: 40%</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="label label-warning font-sz-m" href="@Url.Action("Detail", "Region")">Region II</a>
                            <div class="space-10"></div>
                            <span class="btn btn-social btn-circle btn-xs" type="button">
                                <i class="fa fa-user"></i>
                            </span>&nbsp;&nbsp;<small>Octavio Vite Arontes</small><br />
                            <span class="btn btn-social btn-circle btn-xs" type="button">
                                <i class="fa fa-map-marker"></i>
                            </span>&nbsp;&nbsp;<small>Col. Industrial</small><br />
                            <span class="btn btn-social btn-circle btn-xs" type="button">
                                <i class="fa fa-map-marker"></i>
                            </span>&nbsp;&nbsp;<small>Zona Oriente</small>
                        </td>
                        <td class="project-title">
                            <button class="btn btn-info btn-circle btn-xs" type="button">
                                <i class="fa fa-users"></i>
                            </button>&nbsp;&nbsp;
                            <a href="">Asistencia</a>
                            <div class="space-10"></div>
                            <button class="btn btn-success btn-s-xs" type="button">420 &nbsp;<i class="fa fa-thumbs-up"></i>&nbsp;</button><small>&nbsp;&nbsp;Con asistencia</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-s-xs" type="button">190 &nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;</button><small>&nbsp;&nbsp;Sin asistencia</small>
                            <br />
                            <div class="progress progress-mini">
                                <div style="width: 70%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small class="element-center">Casillas completadas: 70%</small>
                        </td>
                        <td class="project-title">
                            <button class="btn btn-success btn-circle btn-xs" type="button">
                                <i class="fa fa-power-off"></i>
                            </button>&nbsp;&nbsp;
                            <a href="">Instalación</a>
                            <div class="space-10"></div>
                            <button class="btn btn-success btn-s-xs" type="button">320 &nbsp;<i class="fa fa-thumbs-up"></i>&nbsp;</button><small>&nbsp;&nbsp;Instaladas</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-s-xs" type="button">120 &nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;</button><small>&nbsp;&nbsp;No instaladas</small>
                            <br />
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small class="element-center">Casillas completadas: 48%</small>
                        </td>
                        <td class="project-title">
                            <button class="btn btn-danger btn-circle btn-xs" type="button">
                                <i class="fa fa-bolt"></i>
                            </button>&nbsp;&nbsp;<a href="">Incidentes</a>
                            <div class="space-10"></div>
                            <button class="btn btn-success btn-s-xs" type="button">600 &nbsp;<i class="fa fa-thumbs-up"></i>&nbsp;</button><small>&nbsp;&nbsp;Con incidentes</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-s-xs" type="button">120 &nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;</button><small>&nbsp;&nbsp;Sin incidentes</small>
                            <br />
                            <div class="progress progress-mini">
                                <div style="width: 80%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small class="element-center">Casillas completadas: 80%</small>
                        </td>
                        <td class="project-title">
                            <button class="btn btn-warning btn-circle btn-xs" type="button">
                                <i class="fa fa-paw"></i>
                            </button>&nbsp;&nbsp;<a href="">Desayunos</a>
                            <div class="space-10"></div>
                            <button class="btn btn-success btn-s-xs" type="button">200 &nbsp;<i class="fa fa-thumbs-up"></i>&nbsp;</button><small>&nbsp;&nbsp;Con desayuno</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-s-xs" type="button">120 &nbsp;<i class="fa fa-thumbs-down"></i>&nbsp;</button><small>&nbsp;&nbsp;Sin desayuno</small>
                            <br />
                            <div class="progress progress-mini">
                                <div style="width: 40%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small class="element-center">Casillas completadas: 40%</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/app/ctrl/districtCtrl.js"></script>
    <script src="~/Scripts/app/ctrl/regionCtrl.js"></script>
}
